.card-desc {
    color: gray;
}

.card-item {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

.card-item:hover {
    box-shadow: 0px 10px 15px gray;
    transition: all .2s ease-in;
}



.product-size {
    width: 15%;
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;

}

.weight-title {
    color: red;
    font-size: 20px;
    height: 50px;
}



.product-desc {
    border-bottom: 1px solid gray;
    height: 20%;
}

.product-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}


.product-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.product-desc {
    font-size: 20px;
}

.product-title:hover {
    color: gold;
    transition: all .5s ease;
    cursor: pointer;
}

.product-img {
    background-size: cover;
    height: 350px;
    overflow: hidden;

}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

}

.product-price-span {
    color: red;
    font-weight: bold;
}

.btn-count {
    background: none;
    border: none;
    font-size: 30px;
}

.btn-count span {
    padding: 20px;
    background-color: red;
    border-radius: 50px;
}

.produt-count {
    display: flex;
    align-items: center;
    text-align: center;

}


.count-input {
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.icon-plus {
    fill: green;
}

.icon-minus {
    fill: red;
}